html,
body {
  margin: 0;
  padding: 0;
}

// 1.0 Page

.page {
  // display: flex;
  // flex-direction: column-reverse;
  overflow: hidden;
  display: grid;
  grid-template-areas: "main" "nav";
  grid-template-columns: 100%;
  grid-template-rows: calc(100vh - 62px) 62px;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
  @media only screen
  and (min-width: 30em)
  and (orientation: landscape) {
    grid-template-areas: "nav main";
    grid-template-columns: 62px calc(100vw - 62px);
    grid-template-rows: auto;
  }
}

// 3.0 Page Body

.page__body {
  grid-area: main;
  height: 100vh;
  // flex: 1 1 auto;
  overflow-y: scroll;
  @media only screen
  and (min-width: 30em)
  and (orientation: landscape) {
    // margin-left: 60px;
  }
}

// Page Main

.page__main {
  float: left;
  // height: 100%; // removed due to conflict with page footer
  width: 100%;
  // margin-bottom: rem-calc(60);
  // @media only screen
  // and (min-width: 30em)
  // and (orientation: landscape) {
  //   margin-bottom: 0;
  // }
}
