// 4.3 Page Footer

.page__footer {
  position: relative;
  // z-index: 2;
  box-sizing: border-box;
  clear: both;
  float: left;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: $white;
  color: $dark-gray;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(2rem / 2);
    height: 1px;
    width: calc(100% - 2rem);
    background-color: $dark-gray;
  }

  > p {
    text-align: center;
    // @media only screen
    // and (min-width: 30em)
    // and (orientation: landscape) {
    //   text-align: left;
    //   float: right;
    // }
  }
}