{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    {{> device}}
  </head>
  <body>
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    <div id="barba-wrapper" class="page">
      {{> header--site}}

      <div class="page__body barba-container">
        {{> body}}
        {{> footer--site}}
      </div> <!-- @end Page Body -->

    </div><!-- @end Page -->
    <script>
      window.addEventListener('load', function(ev) {
        // check if template is supported
        // browsers without it wouldn't need to
        // do the content shifting
        if ('content' in document.createElement('template')) {
          // get the template
          var t = document.querySelector('template');
          // get its parent element
          var list = t.parentNode;
          // cache the template content
          var contents = t.innerHTML;
          // kill the template
          list.removeChild(t);
          // add the cached content to the parent
          list.innerHTML += contents;
        }
        all = document.body.querySelectorAll('img').length + 1;
        updatecounter();
      });
    </script>
  </body>
</html>