// 6.0 Buttons

.gn-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border: 1px solid hsla(0, 0%, 90%, 0.5);
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: transparent;
  color: #474747;
  appearance: none;
  > .bar {
    display: block;
    height: 2px;
    width: 65%;
    margin-bottom: 0.5em;
    background-color: #474747;
  }
}

.button {
  float: left; // fixed a clearing issue
  padding: 1rem;

  text-decoration: none;

  background-color: deeppink;
  border-radius: rem-calc(3);
  color: $white;
}